body {
  font-family: 'Noto Sans', sans-serif;
  background-color: rgb(55, 54, 54);
  background-image: url('https://images.unsplash.com/photo-1719949002681-a02a48192b2c?q=80&w=435&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
}
header {
    background-color: rgb(30, 106, 81);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}
header, section {
    margin-bottom: 36px;
}

h1{
    font-size: 1.2em;
    padding-top: 12px;
    padding-bottom: 12px;
    color: wheat;

}
h3 {
    font-size: 1.2em;
    font-weight: 500;
    margin-top: 12px;
    margin-bottom: 24px;
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

/*header*/

header .raw {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-title {
    display: flex;
    align-items: center;
    gap : 8px;
}

header a{
    color: wheat;
    text-decoration: none;
    &:hover{
        color: rgb(124, 227, 227);
    }
}

img.website-icon {
    width: 18px;
    height: 18px;
}

/* content*/

.first-section{
    margin-top: 60px;
}

.section-card {
    padding: 32px;
    background-color: rgb(201, 207, 204);
    border-top-left-radius: 50px 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}


.table-wrapper {
    max-width: 100%;
    overflow-x: auto;
    white-space: nowrap;
}
