body {
  font-family: 'Noto Sans', sans-serif;
  background-color: rgb(55, 54, 54);
}
header {
    background-color: rgb(30, 106, 81);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}
header, section {
    margin-bottom: 36px;
}

h1{
    font-size: 1.2em;
    padding-top: 12px;
    padding-bottom: 12px;
    color: wheat;

}
h3 {
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 16px;
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

/**/

header .raw {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-title {
    display: flex;
    align-items: center;
    gap : 8px;
}

img.website-icon {
    width: 18px;
    height: 18px;
}


.section-card {
    padding: 24px;
    background-color: rgb(226, 225, 225);
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}

